<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="navret">SHOPPERS MART</div>
      <div>
        <nav>
          <a routerLink="/home">Home</a>
          <a routerLink="/aboutus">About us</a>
          <a routerLink="/contactus">Contact us</a>
          <a routerLink="/login">Login</a>
          <a routerLink="/cart">Cart</a>
          <a routerLink="/cameras"></a>
          <a routerLink="/televisions"></a>
          <a routerLink="/laptops"></a>
          <a routerLink="/phones"></a>
          <a routerLink="/registration"></a>
        </nav>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

<mat-card class="example-card">
    <mat-card-title-group>
        <img mat-card-xl-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_UM-esrEcdedq7g7L0TekvIbFQUj18AZ0eFZjOpYopRZQunqWl3fKpyBjl8Lc3CcE8Z0&usqp=CAU" >
      <img mat-card-xl-image src="https://res.cloudinary.com/sharkninja/image/upload/f_auto,q_auto/v1595768972/SharkNinja%20-%20Category%20Technology%20Images/NV801UKT-trusted-review-badge_4.5-stars_exp-24.04.19_qonelm.jpg" >
  
      <img mat-card-xl-image src="https://png.pngitem.com/pimgs/s/523-5234612_google-reviews-hd-png-download.png" >
    </mat-card-title-group>
    <mat-card-content>
        <mat-card-title>Shoppers Mart</mat-card-title>
        <mat-card-subtitle>Customers choice</mat-card-subtitle>
        
        <h4>
            In our commitment to making technology readily accessible across the country,Delight Mart offers a flexible shopping experience, seamlessly combining our online presence with our physical stores.
  Customers shopping online at www.reliancedigital.in can choose to immediately pick up their order from their nearest store with our Pick Up at Store feature or choose Express Delivery, to receive their product within 48 hours.
  Customers can also choose from a variety of flexible payment options including debit and credit cards, cash-on-delivery, UPI, online wallets and EMI options
        </h4>
    </mat-card-content>
    
  </mat-card>
